/*HEADER*/
#logo 
{max-width: 35%;
margin-left: 33%;
margin-right: 33%;
margin-bottom: 2%}

header 
{background-color: white; 
font-family: 'Comfortaa', sans-serif;}

/*MENU*/
nav ul li 
{font-size: 100%;
margin-left: 12%;
margin-right: 18%;
text-align: center;}

/*BODY*/
.sfondo {background-color: whitesmoke ;}

/*HOME*/
/*carousel*/
#carouselExampleIndicators 
{width: 50%;
margin: auto;
padding-top: 1em}

/*titolo principale*/
#titolo 
{margin-top: 3%;}

/*titoli secondari*/
.hometitles
{padding-top: 2em}

/*i nostri corsi*/
.card-group
{margin: auto;}

.icon
{max-width: 15em;
 min-width: 1em;
 padding-top: 1em;
 padding-left: 1em;
 padding-right: 1em;
 margin: auto}

.card-title 
{min-width: 1em;
 margin: auto};

.blacklink 
{color: black;}

/*la storia*/
.storia 
{margin-left: 10em;
margin-right: 10em}

#signature {text-align: right;}

/*I CORSI*/
/*tutti i corsi*/
.titolo 
{font-family:serif;
margin-top: 4%;
color: #191970}

.size 
{width: 23em;
border-radius: 100%;
padding-bottom: 1em;
margin-right:  2em;}

.testo 
{font-family: sans-serif;
line-height: 2em;
font-size: 15px; 
margin-right: 2em;
padding-bottom: 3em;}

#testopianoforte
{font-family: sans-serif;
line-height: 2em;
font-size: 15px; 
margin-right: 2em;
padding-bottom: 7em;}

#testobasso 
{font-family: sans-serif;
line-height: 2em;
font-size: 15px; 
margin-right: 2em;
padding-bottom: 4em;}

#testobatteria
{font-family: sans-serif;
line-height: 2em;
font-size: 15px; 
margin-right: 2em;
padding-bottom: 7em;}

/*chitarra*/
.justify-content-center 
{margin-top: 1%;
 margin-left: 1px}

#imgchiesa 
{width: 23em;
border-radius: 100%;
margin-right: 5%;}

#testochiesa 
{font-family: sans-serif;
line-height: 2em;
margin-right: 2em;}

#imgconte 
{width: 23em;
border-radius: 100%;
padding-bottom: 1em;
margin-left: 5%}

#testoconte 
{font-family: sans-serif;
line-height: 2em;
margin-right: 2em;}

#imgbello 
{width: 23em;
border-radius: 100%;
padding-bottom: 1em;
margin-right: 5%}

#testobello 
{font-family: sans-serif;
line-height: 2em;
margin-right: 2em;}


.collegamenti 
{color: black;}  


/*SCUOLA*/
/*sedi e orari*/
#sedevallio  
{font-family: 'Comfortaa', sans-serif;
text-align: center;
margin-top: 1em;} 

#sedesoiano
{font-family: 'Comfortaa', sans-serif;
text-align: center;
margin-top: 2em;}

table 
{border-collapse:collapse;
text-align: center;
}

td, th 
{border:1px solid #ddd;
}

.orari 
{padding-top: 2px;
padding-right: 0px;
margin-bottom: 3%;
margin-right: auto;
margin-left: auto;
max-width: 40%;
max-height: 25%}

.maps
{padding: 10%;
margin-right: auto;
margin-left: auto;
margin-top: 3%;
margin-bottom: 8%;
max-width: 50%;
max-height: 50%;}


#days
{font-family: sans-serif}

/*modulo di iscrizione*/
#titolomodulo {padding-top: 1em; margin: auto !important;}
.schedamodulo {margin: auto; margin-bottom: 2em;}
.card-text {text-align: left;}

/*EVENTI*/
/*calendario*/
.events
{padding-top: 3%;
padding-bottom: 1%;
font-family: 'Comfortaa', sans-serif;}

.inprogramma
{margin: auto} 

.riga2 
{margin-top: 2em;
margin-bottom: 2em;}

/*gallery*/
#gallery
{padding-top: 1%;}

.galleryvert
{max-width: 25%;
padding: 1%}

.galleryoriz
{max-width: 33%;
padding: 1%; }

/*CONTATTACI*/
.content 
{padding: 25px;
width: 100%;
box-sizing: border-box;
margin: 0, auto;
float: left}

.invia {padding-bottom: 2em}

/*FOOTER*/
footer 
{background-color:#800000;
opacity:0.8;}

.footertext 
{padding-top:  1%;}

.footericon 
{font-size: 20px;
margin: auto;
padding-left: 2%;
padding-right: 2%;}

.collaborazioni
{margin: auto}

#banca {max-width: 90px; }
#chaoslab {max-width: 80px; }
#pastorius {max-width: 40px;} 
#normangroup {max-width: 60px;}
#manuelbike {max-width: 80px}

/*GENERAL*/
.container-flex {display: flex;
                flex-wrap: wrap;}

